.login-signup-card {
  bottom: 0;
  position: absolute;
}

.signup-card ion-grid {
    padding-bottom: 0;
}

.back-button {
    font-weight: 600;
    --color: var(--app-color-dark-red);
    margin: 0;
}

.password-icon {
  color: var(--app-color-black);
  cursor: pointer;
  font-size: 1.2em;
  margin-right: 8px;
}