.login-signup-card {
  bottom: 0;
  position: absolute;
}

.password-icon {
  color: var(--app-color-black);
  cursor: pointer;
  font-size: 1.2em;
  margin-right: 8px;
}

.linking-message {
  color: var(--ion-color-medium);
  font-size: 0.95em;
  line-height: 1.4;
  margin: 8px 0 16px;
  text-align: center;
}