/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import '@fortawesome/fontawesome-free/css/all.min.css';

@import 'theme/variables.scss';

.modal-input {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.modal-input:not(:last-child) {
  margin-bottom: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
}

h5 {
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
}

p, label, input, button {
  font-family: 'Inter', sans-serif;
}

ion-button.logout-button {
  --color: var(--app-color-black);
  --background: transparent;
}

ion-content.home-background {
    --background: url('/assets/WineGlassesBeingToasted.png') center center / cover no-repeat !important;
    --ion-background-color: transparent;
    background: transparent !important;
    --padding-top: calc(env(safe-area-inset-top, 0px) + 16px);
}

ion-input::part(native) {
  caret-color: var(--app-color-dark-red);
}

.app-title {
  color: var(--ion-color-primary);
  text-align: center;
  letter-spacing: 8%;
}

.error-message {
    text-align: center;
    color: var(--app-color-dark-red);
    margin-top: 12px;
    margin-bottom: 0;
}

/* === Login/Signup Card ====================================== */
.login-signup-card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px 20px 0 0; 
    bottom: 0;
    padding: 0px 24px 12px 24px;
    position: absolute;
    width: 100%;

    ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    }

    ion-input {
        --color: var(--app-color-black);
        --color-focused: var(--app-color-black);
        --color-activated: var(--app-color-black);
        --color-valid: var(--app-color-black);
        --color-invalid: var(--app-color-black);

        --highlight-color: var(--app-color-black);
        --highlight-color-focused: var(--app-color-black);
        --highlight-color-valid: var(--app-color-black);
        --highlight-color-invalid: var(--app-color-black);
    }

    ion-input::part(native),
    ion-input::part(label) {
        color: var(--app-color-black);
    }

    ion-input::part(native) {
        caret-color: var(--app-color-dark-red);
    }

    .title {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .subtitle {
        color: var(--app-color-dark-red);
        font-family: var(--ion-font-family);
        font-size: 24px;
        line-height: 12px;
        font-weight: 600;
        margin-top: 24px;
    }

    .divider {
        border: none;
        height: 1px;
        background-color: var(--app-color-dark-gray);
        width: 100%;
    }

    .full-divider {
        margin: 24px 0 12px 0;
    }

    .half-divider {
        margin: 0;
    }

    ion-item.item-input-wrapper {
        --padding-start: 20px;
        --inner-padding-end: 20px;
        --background: var(--app-color-gray);
        background: var(--app-color-gray);
        border: 1px solid var(--app-color-dark-gray);
        border-radius: 8px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .or {
        display: flex;
        align-items: center;

        .or-text {
            margin: 0 8px;
        }
    }

    .external-auth-buttons {
        display: flex;
        justify-content: center;
    }

    /* Google Sign-In button styles from Google */
    /* https://developers.google.com/identity/gsi/web/guides/display-button */
    .gsi-material-button {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: WHITE;
        background-image: none;
        border: 1px solid #747775;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #1f1f1f;
        cursor: pointer;
        font-family: 'Roboto', arial, sans-serif;
        font-size: 14px;
        height: 40px;
        letter-spacing: 0.25px;
        outline: none;
        overflow: hidden;
        padding: 0 12px;
        position: relative;
        text-align: center;
        -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
        transition: background-color .218s, border-color .218s, box-shadow .218s;
        vertical-align: middle;
        white-space: nowrap;
        width: auto;
        max-width: 400px;
        min-width: min-content;
    }

    .gsi-material-button .gsi-material-button-icon {
        height: 20px;
        margin-right: 12px;
        min-width: 20px;
        width: 20px;
    }

    .gsi-material-button .gsi-material-button-content-wrapper {
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .gsi-material-button .gsi-material-button-contents {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }

    .gsi-material-button .gsi-material-button-state {
        -webkit-transition: opacity .218s;
        transition: opacity .218s;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .gsi-material-button:disabled {
        cursor: default;
        background-color: #ffffff61;
        border-color: #1f1f1f1f;
    }

    .gsi-material-button:disabled .gsi-material-button-contents {
        opacity: 38%;
    }

    .gsi-material-button:disabled .gsi-material-button-icon {
        opacity: 38%;
    }

    .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
    .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
        background-color: #303030;
        opacity: 12%;
    }

    .gsi-material-button:not(:disabled):hover {
        -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

    .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
        background-color: #303030;
        opacity: 8%;
    }

    .switch-auth {
        text-align: center;
        font-size: 14px;

        .signup-link {
            color: var(--app-color-dark-red);
            font-weight: 700;
            cursor: pointer;
            margin-left: 4px;
        }
    }
}
/* === End Login/Signup Card ================================== */

/* === Tabs (global) ========================================== */
ion-tab-bar {
  --background: var(--app-color-champagne);
  background: var(--app-color-champagne);
  --border: 0;
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  height: 62px;
  box-shadow: none;
  border-top: 2px solid var(--app-color-primary);
}

ion-tab-button {
  --color: var(--app-color-dark-red);
  --color-selected: var(--app-color-primary);
  --ripple-color: transparent;

  margin: 0 10px;
  border-radius: 0;
  min-width: 56px;
  height: 44px;
  background: transparent !important;

  i { font-size: 22px; line-height: 1; }

  .icon-active   { display: none; }
  .icon-inactive { display: inline-block; color: var(--app-color-dark-red); }
}

ion-tab-button.tab-selected {
  background: transparent !important;
  .icon-active   { display: inline-block; color: var(--app-color-primary); }
  .icon-inactive { display: none; }
}

@media (max-width: 480px) {
  ion-tab-button ion-label { display: none; }
}

/* === End Tabs =============================================== */
